@page  {
  size: 14.8cm 21cm;
}

body {
  font-size: 11.5pt;
}

.printBody {
  width: 14.8cm;
  height: 21cm;
  background-color: #ffffff;
}

@media print {
  .printBody {
    width: 100%;
    height: 20cm;
  }
}

.pageBody {
  width: 100%;
  height: 100%;
  padding: 0.5cm 0.5cm 0.5cm 2.2cm;
}

.pageBody.even {
  padding: 0.5cm 2.2cm 0.5cm 0.5cm;
}
