@import url(https://fonts.googleapis.com/css?family=Tangerine:700|Merriweather:700italic);

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.pageBody {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}


h2.pageHead{
    position: relative;
    margin-bottom: 0.25em;
    display: block;
}
.overview {
    height: 5em;
}
.dayNumber {
    float: right;
    width: 1.25em;
}
.even .dayNumber {
    float: left;
}
.pageHead, .dayNumber{
    font-weight: 700;
    text-align: right;
}
.even .pageHead, .even .dayNumber{
    text-align: left;
}
.holiday .dayName, .holiday .dayNumber {
    color: crimson;
}
.weekOfYear {
    font-size: 0.5em;
}
.dayName {
    float: right;
}
.even .dayName {
    float: left;
}

.timeTable {
    position: relative;
    clear: both;
}
.timeTable > table {
    width: 100%;
}
.timeTable td {
    padding: 0;
}
.timeTable th {
    text-align: left;
}
.timeTable td.label {
    text-align: right;
    width: 1.75em;
}
month-overview {
    float: left;
}
.even .overview month-overview {
    float: right;
}
month-overview > table {
    float: left;
    text-align: right;
    margin-left: 6pt;
}

month-overview td, month-overview th{
    padding: 0.117em;
}
month-overview td.holiday{
    color: crimson;
}
month-overview th.monthName {
	text-align: center;
	border-bottom: medium none;
	font-size: 1.75em;
	position: relative;
}
.overview month-overview th.monthName {
    background: transparent none repeat scroll 0% 0%;
    top: -1.25em;
    line-height: 0;
}

hr.foldMark {
    position: absolute;
    top: 49.9%;
    width: 4%;
    left: 0;
    right: auto;
    border: 1px solid rgb(207, 207, 207);
}
.even hr.foldMark {
    left: auto;
    right: 0;
}

div.sexyOrganiser::first-letter {
    font-family: 'Tangerine', cursive;
    font-size: 1.75em;
    letter-spacing: 0.18em;
    font-style: normal;
}
div.sexyOrganiser {
    font-family: "Merriweather",serif;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    transform: rotate(-90deg);
    left: 1.8em;
    right: auto;
    color: #CFCFCF;
    margin-left: -4.625em;
    margin-right: -4.625em;
    width: 9.25em;
    font-size: 0.75em;
    text-align: center;
    background-color: #ffffff;
}
.even div.sexyOrganiser {
    right: 1.8em;
    left: auto;
}

.documentationOverview {
  position: relative;
}

.documentationOverview table {
  font-size: 0.75em;
}

.documentationOverview th {
  vertical-align: bottom;
}

th.vertical {
  height: 5em;
  white-space: nowrap;
  vertical-align: middle;
}

th.vertical > div {
  box-sizing: border-box;
  padding-top: 0.5em;
  transform: translate(0.7em, 1.35em) rotate(315deg);
  width: 1.8em;
}
th.vertical > div > span {
  border-bottom: 0.1mm solid;
  padding: 0.05em 0.1em;
}
th.vertical.end > div > span {
  border-bottom: 0.6mm solid;
}

thead.months th {
  border-right: 0.6mm solid;
}
thead.months th:nth-of-type(1) {
  border-left: 0.6mm solid;
}

.documentationOverview input {
  background: transparent none repeat scroll 0 0;
  border: medium none;
}

.documentationOverview th {
  border-bottom: 0.6mm solid;
}

.documentationOverview tbody td {
  border-bottom: 0.01mm solid;
  border-right: 0.01mm solid;
}
.documentationOverview tbody td.end {
  border-right: 0.6mm solid;
}
.documentationOverview tbody td:first-of-type {
  border-left: 0.01mm solid;
}

.yearOverview {
    position: relative;
}
.yearOverview table {
    font-size: 0.9em;
}
.yearOverview table:nth-of-type(3n+0)::after {
    content: '';
    display: block;
    clear: both;
    height: 2em;
}

@media screen {
    .wrapper{
        background-color: darkgray;
    }
    .printBody {
        margin: auto;
        margin-bottom: 12px;
        box-shadow: 3px 6px 18px 0 rgba(0,0,0,0.64);
    }
}

@media print {
  .printBody {
    page-break-after: always;
  }
  .generateControl {
      display: none;
  }
}
