@import url(https://fonts.googleapis.com/css?family=Special+Elite|Ubuntu:400,700|Ubuntu+Condensed|Ubuntu+Mono:400,700);

.pageBody {
    font-family: 'Ubuntu';
    color: rgba(30, 78, 108, 1);
}

.overview {
    position: relative;
    font-size: 0.8em;
}

h2.pageHead {
    font-size: 0.6em;
    margin-top: 0.2em;
    border-bottom: double 0.084em rgba(30, 78, 108, 1);
}
.pageHead > span {
    font-size: 3.167em; /* 38pt */
    font-weight: 500;
    width: auto;
    display: inline-block;
    line-height: 0.526em; /* 20pt */
    margin-bottom: 0.15em;
}
.pageHead > span > span {
    display: none;
}

.dayNumber {
    box-sizing: border-box;
    font-size: 2.667em;
    height: 0.6em;
    line-height: 0.4em;
    margin-top: 0.2em;
    padding-top: 0.2em;
    position: relative;
    width: 4em;
}
.weekOfYear {
    font-size: 0.49em; /* 32pt */
    float: left;
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 4.5em;
}
.even .weekOfYear {
    float: right;
    left: 3.5em;
}
.weekOfYear > br {
    display: none;
}

.dayName {
    font-size: 1.167em; /* 14pt */
    clear: right;
    margin-left: 0;
    position: absolute;
    top: 1.6em;
    left: 18.4em;
}
.even .dayName { /* gerade seite*/
    clear: left;
    left: 4em;
}
.dayName > .holidayName {
    font-size: 0.857em; /* 12pt */
}
.timeTable td {
    font-size: 0.667em; /* 8pt */
    border-bottom: solid 0.084em rgba(30, 78, 108, 0.2);
}
.timeTable th {
    font-size: 1em; /* 12pt */
    font-weight: 500;
    border-bottom: solid 0.1em rgba(30, 78, 108, 1);
}

month-overview{
    font-family: 'Ubuntu Condensed';
    font-size: 0.88em;
    margin-bottom: 2em;
}

month-overview > table {
    font-size: 0.5em; /* 6pt */
}
month-overview td.active{
    border-radius: 0.25em; /* 3pt */
    font-weight: 700;
}

month-overview td.active{
    border: solid 0.1em rgba(30, 78, 108, 1);
}
month-overview thead th{
    border-bottom: solid 0.067em rgba(30, 78, 108, 1);
}
month-overview tbody th{
    border-right: solid 0.067em rgba(30, 78, 108, 1);
}
