@import url(https://fonts.googleapis.com/css?family=Special+Elite|Ubuntu:400,700|Ubuntu+Condensed|Ubuntu+Mono:400,700);

.pageBody {
    font-family: 'Ubuntu';
    color: rgba(30, 78, 108, 1);
}

.overview {
    position: relative;
}

h2.pageHead {
    margin-top: 0.5em;
    border-bottom: double 0.084em rgba(30, 78, 108, 1);
}
.pageHead > span {
    font-size: 3.167em; /* 38pt */
    font-weight: 500;
    width: auto;
    display: inline-block;
    line-height: 0.526em; /* 20pt */
    margin-bottom: 0.15em;
}
.pageHead > span > span {
    font-size: 0.316em; /* 12pt */
    font-weight: 700;
    display: block;
    text-align: right;
}

.dayNumber {
    font-size: 2.667em; /* 32pt */
    line-height: 0.4em;
}
.weekOfYear {
    font-size: 0.49em; /* 32pt */
}

.dayName {
    font-size: 1.167em; /* 14pt */
    clear: right;
}
.even .dayName {
    clear: left;
}
.dayName > .holidayName {
    font-size: 0.857em; /* 12pt */
}
.timeTable td {
    font-size: 0.667em; /* 8pt */
    border-bottom: solid 0.084em rgba(30, 78, 108, 0.2);
}
.timeTable th {
    font-size: 1em; /* 12pt */
    font-weight: 500;
    border-bottom: solid 0.1em rgba(30, 78, 108, 1);
}

three-month{
    font-family: 'Ubuntu Condensed';
    font-size: 0.8em;
    margin-bottom: 2em;
}

three-month > table {
    font-size: 0.5em; /* 6pt */
}
three-month td.active{
    border-radius: 0.25em; /* 3pt */
    font-weight: 700;
}

three-month td.active{
    border: solid 0.1em rgba(30, 78, 108, 1);
}
three-month thead th{
    border-bottom: solid 0.067em rgba(30, 78, 108, 1);
}
three-month tbody th{
    border-right: solid 0.067em rgba(30, 78, 108, 1);
}
