body {
  font-size: 9pt;
}

.printBody {
  /* Size of A4 minus 0.35cm on each side */
  width: 29.0cm;
  height: 20.3cm;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
}

@media print {
  .printBody {
    width: 100%;
    height: 20cm;
  }
}

.pageBody {
  /* size of Personal + 0.09cm on each side for bleeding*/
  width: 9.68cm;
  height: 17.28cm;
  padding: 0.39cm 0.39cm 0.38cm 1.29cm;
  margin: 0;
  float: left;
  box-sizing: padding-box !important;
}
.printBody:nth-child(odd) .pageBody {
  float: right;
}
.pageBody.even {
  padding: 0.3cm 1.2cm 0.3cm 0.3cm;
}

x-crop-mark {
  position: absolute;
  width: 0.09cm;
  height: 0.09cm;
  box-sizing: border-box;
  border: solid 0.05cm #000;
}
x-crop-mark:nth-of-type(1) {
  top: 0;
  left: 0;
  border-top: none;
  border-left: none;
}

x-crop-mark:nth-of-type(2){
  top: 0;
  right: 0;
  border-top: none;
  border-right: none;
}

x-crop-mark:nth-of-type(3) {
  bottom: 0;
  left: 0;
  border-bottom: none;
  border-left: none;
}

x-crop-mark:nth-of-type(4) {
  bottom: 0;
  right: 0;
  border-bottom: none;
  border-right: none;
}

x-punsh-mark {
  display: block;
  height: 5mm;
  width: 5mm;
  border: 0.1mm dotted rgb(0, 0, 0);
  border-radius: 5mm;
  position: absolute;
  right: auto;
  left: 6.6mm;
  margin: -2.5mm;
  opacity: 0.2;
}
.even x-punsh-mark {
  right: 6.6mm;
  left: auto;
}
x-punsh-mark:nth-of-type(1) {
  top: 2.4cm;
}
x-punsh-mark:nth-of-type(2) {
  top: 4.15cm;
}
x-punsh-mark:nth-of-type(3) {
  top: 6.05cm;
}
x-punsh-mark:nth-of-type(4) {
  bottom: 2.4cm;
}
x-punsh-mark:nth-of-type(5) {
  bottom: 4.15cm;
}
x-punsh-mark:nth-of-type(6) {
  bottom: 6.05cm;
}
