<!DOCTYPE html>
<html lang="en" ng-app="calendarApp" ng-controller="templateController">
  <head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" media="screen" href="node_modules/angular-material/angular-material.css">

    <link rel="stylesheet" ng-href="css/{{pageSize}}.css">
    <link rel="stylesheet" href="css/calendar.css">
    <link rel="stylesheet" ng-href="css/{{style}}.css">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

    <script src="js/bundle.js"></script>
    <script src="node_modules/angular-i18n/angular-locale_de-de.js"></script>
    <meta charset="UTF-8">
    <title>Sexyorganiser - Filofax template generator</title>
  </head>
  <body ng-cloak>
    <md-content class="wrapper">
      <md-content class="generateControl">
        Start Date:
        <md-datepicker ng-model="startDate" md-placeholder="Enter date"></md-datepicker>
        End Date:
        <md-datepicker ng-model="endDate" md-placeholder="Enter date"></md-datepicker>
        Page Size:
        <select ng-model="pageSize" ng-change="generateTemplate()">
          <option value="a5">A5</option>
          <option value="personal">Personal</option>
        </select>
        Template:
        <select ng-model="template" ng-change="generateTemplate()">
          <option value="oneDayOnOnePage">1 Day / 1 Page</option>
          <option value="oneYearOnOnePage">1 Year / 1 Page</option>
        </select>
        Style:
        <select ng-model="style">
          <option value="disney">Disney</option>
          <option value="shield">Agents of S.H.I.E.L.D.</option>
          <option value="ino">Borkum Special</option>
        </select>
        Show crop marks
        <md-checkbox ng-model="useCropMarks"></md-checkbox>
        Show punch marks
        <md-checkbox ng-model="usePunchMarks"></md-checkbox>
        <md-button ng-click="generateTemplate()" class="md-raised">Generate</md-button>
        <md-progress-linear ng-if="generationProgress" md-mode="determinate" value="{{generationProgress}}"></md-progress-linear>
      </md-content>
      <div class="printBody" ng-repeat="page in pages">
        <div class="pageBody" ng-class="{even: page.even}" ng-repeat="subPage in page.subPages">
          <ng-include src="'./templates/' + template + '.html'"></ng-include>
          <x-crop-mark ng-if="$parent.$parent.useCropMarks"></x-crop-mark>
          <x-crop-mark ng-if="$parent.$parent.useCropMarks"></x-crop-mark>
          <x-crop-mark ng-if="$parent.$parent.useCropMarks"></x-crop-mark>
          <x-crop-mark ng-if="$parent.$parent.useCropMarks"></x-crop-mark>
          <x-punsh-mark ng-if="$parent.$parent.usePunchMarks"></x-punsh-mark>
          <x-punsh-mark ng-if="$parent.$parent.usePunchMarks"></x-punsh-mark>
          <x-punsh-mark ng-if="$parent.$parent.usePunchMarks"></x-punsh-mark>
          <x-punsh-mark ng-if="$parent.$parent.usePunchMarks"></x-punsh-mark>
          <x-punsh-mark ng-if="$parent.$parent.usePunchMarks"></x-punsh-mark>
          <x-punsh-mark ng-if="$parent.$parent.usePunchMarks"></x-punsh-mark>
        </div>
      </div>
    </md-content>
  </body>
</html>
